{{- define "custom.changelog" -}}
## Changelog

All notable changes to this Helm chart will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

### Version 0.6.8

#### Added

* N/A

#### Changed

* update excalidraw digest to sha256:4542f30bea392b833822d0e7db4fa2220e6706ca962c082add2665159fa91758

#### Fixed

* N/A

### Version 0.6.7

#### Added

* N/A

#### Changed

* update excalidraw digest to sha256:72600b725cfbf0c74f090b748f11bdd41ae205fc065ad02080d7b2ec37566079

#### Fixed

* N/A

### Version 0.6.6

#### Added

* N/A

#### Changed

* update excalidraw digest to sha256:9a92beb30c9bc18585bfd9adbb5cf7120b756b781363a66333b31cc8a0783e51

#### Fixed

* N/A

### Version 0.6.5

#### Added

* N/A

#### Changed

* update excalidraw digest to sha256:bb1a890daefaa223b914b49e183687f93c599b74065ac2acb0e52c7414cddd16

#### Fixed

* N/A

### Version 0.6.4

#### Added

* N/A

#### Changed

* generate README with helm-docs

#### Fixed

* N/A

### Version 0.6.3

#### Added

* N/A

#### Changed

* update excalidraw digest to sha256:62fbadfb9ad2f5ddb56f66e57295f0372abfcbe6b6ca4ae7713e1b13ad56985d

#### Fixed

* N/A

### Version 0.6.2

#### Added

* add the artifact annotation

#### Changed

* N/A

#### Fixed

* N/A

### Version 0.6.1

#### Added

* N/A

#### Changed

* update excalidraw digest to sha256:d7b4d7ebc517ccb250ba38f14dd1463573b422631046f96c725284f543bc5f1f

#### Fixed

* N/A

### Version 0.6.0

#### Added

* N/A

#### Changed

* pin excalidraw digest to sha256:178325161607e0446c2bc8104f2e7f051feb97db13022cd0778b0373871ea99c

#### Fixed

* N/A

{{- end -}}
