{{- define "custom.changelog" -}}
## Changelog

All notable changes to this Helm chart will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

### Version 0.6.3

#### Added

* N/A

#### Changed

* update excalidraw digest to sha256:62fbadfb9ad2f5ddb56f66e57295f0372abfcbe6b6ca4ae7713e1b13ad56985d

#### Fixed

* N/A

### Version 0.6.2

#### Added

* add the artifact annotation

#### Changed

* N/A

#### Fixed

* N/A

### Version 0.6.1

#### Added

* N/A

#### Changed

* update excalidraw digest to sha256:d7b4d7ebc517ccb250ba38f14dd1463573b422631046f96c725284f543bc5f1f

#### Fixed

* N/A

### Version 0.6.0

#### Added

* N/A

#### Changed

* pin excalidraw digest to sha256:178325161607e0446c2bc8104f2e7f051feb97db13022cd0778b0373871ea99c

#### Fixed

* N/A

{{- end -}}
