---
name: Labels

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/labels.yaml'
      - '.github/workflows/labels.yaml'

jobs:
  labeler:
    runs-on: ubuntu-24.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      -
        name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@de749cf181958193cb7debf1a9c5bb28922f3e1b # v5.0.0
