---
name: Labels

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/labels.yaml'
      - '.github/workflows/labels.yaml'

jobs:
  labeler:
    runs-on: ubuntu-22.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4.3.0
      -
        name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v5.0.0
