---
name: Labels

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/labels.yaml'
      - '.github/workflows/labels.yaml'

permissions: {}

jobs:
  labeler:
    runs-on: ubuntu-24.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      -
        name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@24d110aa46a59976b8a7f35518cb7f14f434c916 # v5.3.0
